
body {
  position:relative;
}

#count {
  position: absolute;
  right: 10px;
  font-weight: bold;
}

img {
  width: 200px;
  height: 200px;
  background-image: url('../assets/holberton-logo.jpg');
  background-size: 200px 200px; /* Taille de l'image de fond */
}
